$icon-plus: "\e61f";
$icon-xiayiqu: "\e718";
$icon-shangyiqu: "\e505";
$icon-love: "\e66a";
$icon-laba: "\e6df";
$icon-next: "\e648";
$icon-bofang: "\e6c9";
$icon-zanting: "\e6ca";
$icon-mv: "\e501";
$icon-caidan: "\e66b";
$icon-more: "\e613";
$icon-delete: "\e735";
$icon-cd: "\e60c";
$icon-listen: "\e683";
$icon-download: "\e6bb";
$icon-back: "\e608";
$icon-cha: "\e629";
$icon-play: "\e705";
$icon-cha1: "\e638";
$icon-music: "\e63b";
$icon-music1: "\e605";
$icon-pinglun: "\e625";
$icon-pinglun1: "\e7b0";
$icon-right: "\e60f";
$icon-liebiaoxunhuan: "\e65f";
$icon-suijibofang: "\e612";
$icon-danquxunhuan: "\e63d";
$icon-artist: "\e502";
$icon-wenjianjia: "\e643";
$icon-search: "\e633";
$icon-minizanting: "\e616";

